<h3>Hello<%= @user.first_name %>,</h3>
<p>You create a new product</p>
<p>Product title: <%= @product.title %></p>
<p>Product description: <%= @product.description %></p>
<p>Product price: <%= @product.price %></p>
<p>Product sale price: <%= @product.sale_price %></p>
<p>Click <%= link_to "here", product_url(@product) %> to view your post.</p>

<p>Regards,</p>

<p>Amazon Team</p>
