<h1>Title: <%= @product.title %></h1>
<p>Description: <%= @product.description %><p>
<p>Price: <%= @product.price %><p>
<p>Category: <%= @product.category_id %></p>
<p>Owner: <%= @product.user.first_name %></p>
<p>Tag(s): <% @product.tags.each do |t| %>
  <%= link_to t.name, tag_path(t) %>
<% end %>
</p>


<% if user_signed_in? && (can? :favourite, @product)%>
  <% if !@product.favourite_by?(current_user) %>
    <%= link_to fa_icon("thumbs-o-up"), product_favourites_path(@product), method: :post%>
  <% else %>
    <%= link_to fa_icon("thumbs-up"),  product_favourite_path(@product, @product.favourite_for(current_user)), method: :delete %>
    <span><%= pluralize(@product.favourites.count, 'favourite') %></span>
  <% end %>
<% end %>


<% if can? :edit, @product%>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %>

<%# Rails enables us to make links end non-GET requests by setting the `method`
    attribute for `link_to`. Rails uses Javascript to accomplish that. %>
<% if can? :destroy, @product%>
  <%= link_to 'Delete', product_path(@product), method: :delete, data:{confirm: 'Are you sure?'} %>
<% end %>
<hr>

<%# @review.errors.full_messages.join(', ') %>

<h2>Reviews</h2>
<%= form_for [@product, @review] do |f| %>
  <p>Comment:</p>
  <%= f.text_area :body, {class: "form-control"} %>
  <p>Rating:</p>
  <%# f.text_area :rating %>
  <%= f.select :rating, [1,2,3,4,5] %>
  <br>
  <br>
  <%= f.submit %>
<% end %>

<hr>
<% @product.reviews.each do |r| %>

  <p><%= r.body  %></p>
  <p><%= r.user.first_name %></p>
  <p>Rating: <%= r.rating %></p>
  <p><%= r.body %></p>


  <% if user_signed_in? && (can? :like, r)%>
    <% if !r.liked_by?(current_user) %>
      <%= link_to fa_icon("heart-o"), review_likes_path(r), method: :post%>
    <% else %>
      <%= link_to fa_icon("heart"), like_path(r.like_for(current_user)), method: :delete %>
      <span><%= pluralize(r.likes.count, 'like') %></span>
    <% end %>
  <% end %>

  <% if user_signed_in? && (can? :vote, r)%>
    <% user_vote = r.votes.find_by_user_id current_user %>
    <% if user_vote.nil? %>
      <%= link_to fa_icon('thumbs-o-up'), review_votes_path(r, {is_up: true}), method: :post %>
      <%= link_to fa_icon('thumbs-o-down'), review_votes_path(r, {is_up: false}), method: :post %>
    <% elsif user_vote.is_up?%>
      <%= link_to fa_icon('thumbs-up'), vote_path(user_vote), method: :delete %>
      <%= link_to fa_icon('thumbs-o-down'), vote_path(user_vote, {is_up: false}), method: :patch %>
    <% else %>
      <%= link_to fa_icon('thumbs-o-up'), vote_path(user_vote, {is_up: true}), method: :patch %>
      <%= link_to fa_icon('thumbs-down'), vote_path(user_vote), method: :delete %>
    <% end %>
  <% end %>

  <%= r.votes_count %>



  <% if can? :destroy, r%>
    <%# link_to 'Delete review', product_review_path(@product, r), method: :delete, data:{confirm: "Are your sure?"} %>
    <%= link_to 'Delete review', review_path(r), method: :delete, data:{confirm: "Are your sure?"} %>
  <% end %>

  <hr>



<% end %>
